#logologin
{
	width: 6vw;
	height: auto;
	float: right;
}

#center_div
{
	margin-top: 37vh;
	transform: translateY(-100%);
	border: 2px black solid;
	box-shadow: 3px 3px 3px black;
	background-color: rgb(120, 120, 120);
	width: 30vw;
}

#window
{
	border: 2px black solid;
	box-shadow: 3px 3px 3px black;
	background-color: rgb(120, 120, 120);
	width: 30vw;
	margin: 0 auto;
}

.champ
{
	width: 60%;
}

input
{
	border: 1px black solid;
	background-color: rgb(210, 210, 210);
}

h2
{
	background-color: #000066;
	color: white;
}

p
{
	margin-left: 1vw;
	font-weight: bold;
	color: black;
}

#button
{
	background-color: #003c74;
	border: 1px black solid;
	box-shadow: 2px 2px 2px black;
	margin-left: 5%;
	width: 90%;

	text-align: center;
	font-weight: bold;
	color: white;
}

.no-padding > [class*='col-']
{
	padding-top: 0;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
}
